{%load static%}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Free Psycholog Medical Hospital Website Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg' % }">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/slider/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/slider/css/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
</head>

<body>

    <!-- ################# Header Starts Here#######################--->

    <header id="menu-jk">
        <nav  class="">
            <div class="container">
                <div class="row nav-ro">
                   <div class="col-lg-3 col-md-4 col-sm-12">
                       <img src="{% static 'assets/images/logo.jpg' %}" alt="">
                       <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                   </div>
                   <div id="menu" class="col-lg-7 col-md-8 d-none d-md-block no-padding">
                       <ul>
                            <li><a href="{% static 'index.html' %}">Home</a></li>
                            <li><a href="{% static 'about_us.html' %}">About Us</a></li>
                            <li><a href="{% static 'services.html' %}">Services</a></li>
                            <li><a href="{% static 'blog.html' %}">Blog</a></li>
                            <li><a href="{% static 'gallery.html' %}">Gallery</a></li>
                            <li><a href="{% static 'contact_us.html' %}">Contact Us</a></li>
                        </ul>
                   </div>
                   <div class="col-sm-2 d-none d-lg-block">
                       <button class="btn btn-success">Book an Appointment</button>
                   </div>
                </div>
            </div>
        </nav>
    </header>
</body>
    {%block content%}

    {%endblock%}

    
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
<script src="{% static 'assets/plugins/slider/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

</html>