{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ################# Slider Starts Here#######################--->
     <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            
                <div class="item">
                    <div class="slider-img"><img src="{% static 'assets/images/slider/slider-1.jpg' %}" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Stress yoki tashvish hissi?</h1>
                                    <p class="slider-text hidden-xs">Biz sizga turli xil psixologik va hissiy muammolarni engishingizga yordam beramiz.</p>
                                    <a href="{% static '#'%}" class="btn btn-success hidden-xs">Barcha davolash usullarini ko'ring</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="item">
                <div class="slider-img"><img src="{% static 'assets/images/slider/slider-2.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Yaxshiroq yordam berish vaqti keldi.</h1>
                                <p class="slider-text hidden-xs">Biz sizga turli xil psixologik va hissiy muammolarni engishingizga yordam beramiz.</p>
                                <a href="{% static '#'%}" class="btn btn-success hidden-xs">Tashrifni buyuring</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="{% static 'assets/images/slider/slider-3.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Psixiatrlarimiz bilan tanishing</h1>
                                <p class="slider-text hidden-xs">Bizning psixologlarimiz sizning noyob ehtiyojlaringizni qondirish uchun yuqori malakaga ega.</p>
                                <a href="{% static '#'%}" class="btn btn-success hidden-xs">Psixologlar bilan tanishing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="our-blog container-fluid">
  		<div class="container">
  		<div class="session-title row">
  		    <h2>Bizning xizmatlarimiz</h2></div>
  			<div class="col-sm-12 blog-cont">
  				<div class="row no-margin">
  					<div class="col-lg-4 col-md-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/services/service-1.jpg' %}" alt="">

							<div class="blog-single-det">
							
								<h6>Depressiya</h6>
								<p>Depressiyadan qattiq aziyat chekyapsizmi?</p>
								<a href="#">
									<button class="btn btn-success btn-sm">Ko'proq</button>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/services/service-2.jpg' %}" alt="">

							<div class="blog-single-det">
								
								<h6>Bezovtalik</h6>
								<p>Bezovtalik tufayli ishlaringizni vaqtida bajara olmayapsizmi?</p>
								<a href="#">
									<button class="btn btn-success btn-sm">Ko'proq</button>
								</a>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/services/service-3.jpg' %}" alt="">

							<div class="blog-single-det">
							
								<h6>Oilaviy muammolar</h6>
								<p>Oilaviy muammolarga to'g'ri yechim beramiz!</p>
								<a href="#">
									<button class="btn btn-success btn-sm">Ko'proq</button>
								</a>
							</div>
						</div>
					</div>
					
					
					
				
					
					
  				</div>
  			</div>
  			
  		</div>
  	</section>  
  	
  	<!-- ################# Doctors Message Starts Here#######################--->


    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
                <div class="row">


                    <div class="col-md-6 col-sm-12 doc-img">
                        <img  src="{% static 'assets/images/doctt.png' %}" alt="">
                    </div>
                    <div class="col-md-6 col-sm-12 doc-det">
                        <h2>Salom, Men Doktor Sanjar</h2>
                        <span>O'zbekistondagi malakali psixologlardan biri</span>

                        <p>Klinik psixologlar, odamlarning o'zlarini, ularning oilaviy va jismoniy muammolari, o'zlarining hissiyotlari va tuzatilishlarini yechishda yordam berish uchun xizmat qiladigan mutaxassislar hisoblanadi. Ularning asosiy maqsadi, klinik muammoni o'rganish, ta'qib qilish va uni bartaraf etish jarayonlarini o'rganishdir. </p>

                        <h4>Telefon raqam: +998 xx xxx xx</h4>
                    </div>
                </div>
            </div>

        </div>

    </div>

      	<!-- ################# Mission Vision Starts Here#######################--->
  	
  	<div class="mosion-vision">
  	    <div class="container">
  	        <div class="row">
  	            <div class="col-lg-4 col-md-12">
  	                <div class="single-dd">
  	                    <h4>Bizning maqsadimiz</h4>
  	                    <p>Bizning maqsadimiz jamiyatda psixologik bilimlarni yaxshilash, odamlarga sifatli xizmat ko'rsatish. Eng malakali psixologlarni jalb qilish </p>
  	                    
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
  	                    <h4>Bizning qarashimiz</h4>
  	                    <p>Biz malakali psixologlarni qadrlaymiz! Mijozlarga sifatli xizmat ko'rsatamiz. Jamiyatni sog'lom ruhiyat ostida tarbiyalash! </p>
  	                    
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
  	                    <h4>Nega bizni tanlashingiz kerak?</h4>
  	                    <p>Chunki bizda faqat tajribali xodimlar, zamon talabidagi xizmatlar</p>
  	                    
  	                    
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</div>
  	
 	<!-- ################# Our Session Starts Here#######################--->  	
  	
  	<section class="sesion-type">
  	    <div class="container">
             <div class="session-title row">
  		    <h2>Bizning xizmatlar</h2>
  		    <p></p>
  		</div>
  	        <div class="row">
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'assets/images/session/therapy-1.jpg' %}" alt="">
  	                    <p>Individual muolaja</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'assets/images/session/therapy-2.jpg' %}" alt="">
  	                    <p>juftlik muolajasi</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'assets/images/session/therapy-3.jpg' %}" alt="">
  	                    <p>online muolaja</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'assets/images/session/therapy-4.jpg' %}" alt="">
  	                    <p>guruh muolajasi</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess">
  	                    <img src="{% static 'assets/images/session/therapy-5.jpg' %}" alt="">
  	                    <p>hamma yoshlar uchun</p>
  	                </div>
  	            </div>
  	            <div class="col-md-4 col-sm-6">
  	                <div class="single-sess sess-ok">
  	                   <h4>O'z muolajangizni bugunoq boshlang</h4>
  	                    <p>O'zingizni yaxshi his qilish uchun birinchi qadamni qo'ying. </p>
  	                    <button class="btn btn-success">Yordam oling</button>
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</section>
  	
  	<!-- ################# Testimonial Starts Here#######################--->
    


{%endblock%}
</html>