<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kirish Formasi</title>
    <link rel="stylesheet" href="{% static 'user/login.css' %}" />
  </head>
  <body>
    <div class="container">
      <strong><p>KIRISH</p></strong>
      <form action="{% url 'login_view' %}" method="post">
        {% csrf_token %}
        <label for="username">Email:</label>
        <input required
          type="text"
          id="username"
          name="username"
          placeholder="Foydalanuvchi nomini kiriting"
        />
        <label for="password">Parol:</label>
        <input required
          type="password"
          id="password"
          name="password"
          placeholder="Parol"
        />
        <button type="submit">Kirish</button>
      </form>
      <p>A'zo emasmisiz? <a href="{% url 'register_user' %}">Ro'yxatdan o'ting</a></p>
    </div>
  </body>
</html>
